.row.bb.pbm.ptm
  .cell
    %h2.fl Sample Project
    %nav.fr.mtxs
      %a.mls{href: '#'}= lorem.word.capitalize
      %a.mls{href: '#'}= lorem.word.capitalize
      %a.mls{href: '#'}= lorem.word.capitalize
      %a.mls{href: '#'}= lorem.word.capitalize
